<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Recommendation System</title>
  </head>
  <body>
    <h1>Recommendation System</h1>
    <form action="{{ url_for('recommended_books') }}" method="POST">
      <label for="user_id">Select a User ID:</label>
      <select name="user_id" id="user_id">
        {% for user_id in user_ids %}
          <option value="{{ user_id }}">{{ user_id }}</option>
        {% endfor %}
      </select>
      <br><br>
      <label for="n_books">Number of Recommended Books:</label>
      <input type="number" name="n_books" id="n_books" value="5">
      <br><br>
      <button type="submit">Get Recommendations</button>
    </form>
    {% if recommendations %}
      <h2>Recommended Books:</h2>
      <ul>
        {% for book in recommendations %}
          <li>
            <img src="{{ book['Image_URL'] }}" alt="{{ book['Book_Title'] }}">
            <p><strong>Title:</strong> {{ book['Book_Title'] }}</p>
            <p><strong>Author:</strong> {{ book['Book_Author'] }}</p>
            <p><strong>Publisher:</strong> {{ book['Publisher'] }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>
