<!DOCTYPE html>
<html>
<head>
	<title>Recomendação de Livros</title>
</head>
<body>
	<h1>Recomendação de Livros</h1>
	<label for="user_id">ID do Usuário:</label>
	<input type="text" id="user_id" name="user_id">
	<label for="num_books">Número de Livros:</label>
	<input type="number" id="num_books" name="num_books" value="3">
	<button onclick="getRecommendations()">Buscar</button>
	<div id="recommendations"></div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		function getRecommendations() {
			var user_id = $('#user_id').val();
			var n_books = $('#num_books').val();
			$.ajax({
				type: "POST",
				url: "/books/recommendation/",
				data: JSON.stringify({user_id: user_id, n_books: n_books}),
				contentType: 'application/json',
				dataType: 'json',
				success: function (data) {
					var html = '<ul>';
					$.each(data, function (index, book) {
						html += '<li> <img src="'+book.Image_URL+'"/>' + book.Book_Title + ' - ' + book.Book_Author + '</li>';
					});
					html += '</ul>';
					$('#recommendations').html(html);
				},
				error: function (xhr, status, error) {
					console.log(error);
				}
			});
		}
	</script>
</body>
</html>
